html{
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
    font-size: inherit;
}

body{
    background-color:#F6F6F6;
    color: #000000;
    font-size: 18px; 
    line-height: 29px;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

h1{
    font-size: 50px;
    line-height: 54px;
    font-weight: 700;
    color: #6A3492;
}

h2{
    font-size: 30px;
    line-height: 32px;
}

h3{
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
h4{
    font-size: 18px;
    line-height: 25px;
}

button{
    outline: none;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.button{
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: 500;
    padding: 16px 20px;
    width: 250px;
    background-color: #7D4F9E;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background-color: #55237A;
    }
}

.input{
    border: 0.5px solid #B8B8B8;
    padding: 13px;
    border-radius: 7px;
    background-color: transparent;
    outline: none;
    &::placeholder{
        color: #9A9D9D;
        font-weight: 300;
    }
}
.jq-selectbox{
    outline: none;
}
.jq-selectbox.focused.jqselect{
    outline: none;
    border-color: transparent;
}
.jq-selectbox__dropdown{
    font: inherit;
    color: #4A4A4A;
    font-size: 15px;
}
.jq-selectbox li{
    &.selected{
        background-color: #c4c4c4;   
        color: #000000;
    }
    &:hover{
        background-color: #7D4F9E;
        color: #fff;
    }
}
.jq-selectbox__trigger {
    border-left: none;
}


.action {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	margin: 2rem;
	border: 0;
	padding: 0;
	opacity: 0;
	pointer-events: none;
}

.action:focus {
	outline: none;
}

.button__wrapper {
	// --color-item-bg: linear-gradient(120deg, #a8edea 0%, #fed6e3 100%);
	// --color-action: #121019;
	// --color-button-bg: #121019;
	// --color-button-text: #fff;
	// --button-padding: 1.5rem 3rem;
	// --radius-button: 5px;
    // --border-button: 0;
}
// .button{
//     font-size: 18px;
//     line-height: 22px;
//     color: #fff;
//     font-weight: 500;
//     padding: 16px 20px;
//     width: 250px;
//     background-color: #7D4F9E;
//     border-radius: 7px;
//     text-align: center;
//     cursor: pointer;
//     transition: all .3s;
//     &:hover{
//         background-color: #55237A;
//     }
// }

.particles-button {
	user-select: none;
	position: relative;
	border-radius: 5px;
	border-radius: 7px;
	background-color:#7D4F9E;
	color: #fff;
	border: 0;
	margin: 0;
	padding: 16px 20px;
    will-change: transform;
    width: 250px;
    &:hover{
        background-color: #55237A;
    }
}

.particles-button:focus {
	outline: none;
}

.particles {
	position: relative;
}

.particles-canvas {
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 120px;
	transform: translate3d(-50%,-50%,0);
}

.particles-wrapper {
	position: relative;
	display: inline-block;
	overflow: hidden;
	will-change: transform;
}

