html{
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
    font-size: inherit;
}
p{
    margin: 0;
    padding: 0;
}
body{
    background-color:#F6F6F6;
    color: #000000;
    font-size: 18px; 
    line-height: 29px;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

h1{
    font-size: 50px;
    line-height: 54px;
    font-weight: 700;
    color: #6A3492;
}

h2{
    font-size: 30px;
    line-height: 32px;
}

h3{
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
h4{
    font-size: 18px;
    line-height: 25px;
}

button{
    outline: none;
    cursor: pointer;
    border: none;
}

input{
    outline: none;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.profile__container{
    max-width: 1566px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.inner{
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #F6F6F6;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -5px -5px 10px #FAFBFF, inset 5px 5px 10px rgba(166, 171, 189, 0.37);
    border-radius: 7px;
}

.input{
    border: 0.5px solid #B8B8B8;
    padding: 13px;
    border-radius: 7px;
    background-color: transparent;
    outline: none;
    &::placeholder{
        color: #9A9D9D;
        font-weight: 300;
    }
}

.button{
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: 500;
    padding: 16px 6px;
    width: 250px;
    background-color: #7D4F9E;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background-color: #55237A;
    }
}

.grey__btn{
    background-color: #DCDCDC;
    border-radius: 7px;
    font-size: 18px;
    line-height: 21px;
    color: #4A4A4A;
    padding: 19px 10px 15px;
    width: 250px;
    @extend %roboto-m;
    transition: all .4s;
    &:hover{
        background-color: #9A9D9D;
    }
}

.underline{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #646464;
    text-decoration: underline;
}

.icon-warpper{
    position: relative;
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 0;
    transition: all .3s;
    svg{
        position: absolute;   
    }
    &:hover{
        svg path{
            fill: #7D4F9E; 
        }    
    }
}
.icon-warpper.visible{
    svg path{
        fill: #7D4F9E; 
    }    
}

//select start
.jq-selectbox{
    outline: none;
}
.jq-selectbox.focused.jqselect{
    outline: none;
    border-color: transparent;
}
.jq-selectbox__dropdown{
    font: inherit;
    color: #4A4A4A;
    font-size: 15px;
}
.jq-selectbox li{
    &.selected{
        background-color: #c4c4c4;   
        color: #000000;
    }
    &:hover{
        background-color: #7D4F9E;
        color: #fff;
    }
}
.jq-selectbox__trigger {
    border-left: none;
}


//select end

// animation button start
.action {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	margin: 2rem;
	border: 0;
	padding: 0;
	opacity: 0;
	pointer-events: none;
}

.action:focus {
	outline: none;
}
.particles-button {
	user-select: none;
	position: relative;
	border-radius: 5px;
	border-radius: 7px;
	background-color:#7D4F9E;
	color: #fff;
	border: 0;
	margin: 0;
	padding: 16px 20px;
    will-change: transform;
    font-weight: 500;
    width: 250px;
    display: block;
    text-align: center;
    &:hover{
        background-color: #55237A;
    }
}
.particles-button:focus {
	outline: none;
}
.particles {
	position: relative;
}
.particles-canvas {
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 120px;
	transform: translate3d(-50%,-50%,0);
}
.particles-wrapper {
	position: relative;
	display: inline-block;
	overflow: hidden;
	will-change: transform;
}

// animation button end
//language select start 

.language__select{
    .jq-selectbox::before{
        top: -7px;
    }
    .jq-selectbox{
        position: relative;
        padding-left: 52px;
        &::before{
            content: "";
            position: absolute;
            background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
            background-blend-mode: soft-light, normal;
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            left: 0;
        }
    }
    .jq-selectbox__select {
        height: 32px;
        padding: 0 31px 0 0px;
        border: none;
        border-bottom-color: transparent;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        font: inherit;
        font-weight: 400;
        color: #4A4A4A;
        text-shadow: none;
    }
    .jq-selectbox__trigger-arrow {
        position: absolute;
        top: 10px;
        right: 12px;
        width: 15px;
        height: 12px;
        border-top: none;
        border-right: none;
        border-left: none;
        background-image: url(../images/select-arrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    .jq-selectbox.focused .jq-selectbox__select{
        border-color: transparent;
        border: none;
    }
}

//language select end 