@media(max-width: 1850px){
    .settings__finance-card {
        max-width: 770px;
    }
}
@media(max-width: 1620px){
    .settings__item:nth-child(1) {
        width: 75%;
    }
    .settings__finance-card {
        max-width: 550px;
    }
}
@media(max-width: 1550px){
    .main__safe {
        left: -9vw;
        top: -90px;
        max-width: 540px;
    }
}
@media(max-width: 1440px){
    .main__container{
        margin-left: 0;
    }
    .main__img-clips{
        right: 90px;
    }
    .useful__images-store{
        margin-left: -110px;
    }
    .support__form{
        margin-top: 20px;
        margin-left: 50px;
    }
    .support__bg{
        right: -170px;
    }
    .profile__balance-item:nth-child(1), .profile__balance-item:nth-child(2) {
        max-width: 366px;
        width: 100%;
    }
    .deal__about-tumb{
        width: 7vw;
    }
    .deal__about.extended .deal__about-box {
        width: 15vw;
    }
    .deal__step-first{
        .profile__output-commission{
            width: 230px;
        }
        .profile__output-input {
            width: 234px;
        }
    }
    .profile-partner__information{
        width: 41%;
    }
    .footer.support .footer__disign{
        margin-right: 60px;
    }
    .footer__img {
        right: -330px;
    }
    .agree-success__img{
        min-height: 45vw;
        top: -40px;
    }
    .deal__create-input, .deal__create-content, .deal__create-textarea {
        max-width: 673px;
    }
    .profile__output-box{
        max-width: 730px;
    }
    .settings__finance-card {
        max-width: 440px;
    }
    .settings__item:nth-child(1) {
        width: 72%;
    }
}
@media(max-width: 1400px){
    .main__safery-bg{
        max-width: 760px;
    }
    .main__safe {
        left: -5vw;
        max-width: 500px;
    }
    .deal__create-line{
        width: 74%;
    }
    .profile__output-form{
        .profile__output-currency{
            margin: 0 15px;
        }
        .jq-selectbox__select{
            padding: 8px 80px 0 13px;
        }
        .profile__output-commission{
            width: 260px;
        }
    }
  
}
@media(max-width: 1360px){
    .profile-partner__information {
        width: 50%;
    }
    .profile__aside{
        width: 230px;
    }
    .wrapper{
        padding-left: 230px;
    }
    .profile__tab-box{
        padding: 10px;
    }
    .profile__output-currency {
        margin: 0 10px;
    }
    .deal__create-input, .deal__create-content, .deal__create-textarea {
        max-width: 623px;
    }
}
@media(max-width: 1300px){
    .useful__item{
        align-items: center;
    }
    .useful__dark,.useful__color{
        width: 17vw;
    }
    .useful__images-tablet{
        .useful__dark,.useful__color{
            width: 22vw;
        }
    }
    .useful__images-oranges{
        bottom: 25px;
        left: 44px;
        .useful__dark,.useful__color{
            width: 16vw;
        }
    }
    .useful__images-magnifier{
        margin-top: 70px;
        .useful__dark,.useful__color{
            width: 13vw;
        }
    }
    .useful__images-pineapple{
        .useful__dark,.useful__color{
            width: 15vw;
        }
    }
    .useful__img-laptop{
        .useful__dark,.useful__color{
            width: 25vw;
        }
    }
    .footer__disign{
        margin-right: 120px;
    }
    .footer__img {
        right: -270px;
    }
    .main__safe {
        left: -1vw;
        max-width: 430px;
        top: -50px;
    }
    .profile__tabs-content {
        padding: 15px;
    }
    .support__bg {
        width: 600px;
        right: -150px;
    }
    .footer.support .footer__disign {
        margin-right: 150px;
    }
    .deal__create-inner {
        padding: 50px 20px 35px;
    }
    .creating-invitation__input{
        max-width: 340px;
        margin: 0 20px;
    }
    .profile__output-form .profile__output-input {
        width: 210px;
    }
    .profile__output-form .profile__output-commission {
        width: 230px;
    }
    .profile-partner__information {
        width: 50%;
    }
    .reviews__item{
        width: 50%;
    }
    
}
@media(max-width: 1260px){
    .deal__step-first .profile__output-input {
        width: 190px;
    }
    .jq-selectbox__select{
        padding: 8px 100px 0 13px;
    }
    .deal__create-input, .deal__create-content, .deal__create-textarea {
        max-width: 559px;
    }
    .deal__step-first .profile__output-commission {
        width: 210px;
    }
    .settings__items{
        flex-wrap: wrap;
    }
    .settings__item,
    .settings__item:nth-child(1) {
        width: 100%;
    }
    .settings__item:nth-child(1){
        margin-bottom: 20px;
    }
    .settings__finance-card {
        max-width: 70%;
    }
}
@media(max-width: 1230px){
    .profile__tab-details span{
        display: none;
    }
    .profile__tabs-inner{
        margin: 21px 0;
    }
    .support__bg {
        width: 530px;
        right: -190px;
    }
    .footer__disign {
        margin-right: 70px;
    }
    .deal__about-box{
        padding: 20px 6px;
    }
    .creating__table-invitation {
        padding: 0px 17px 35px;
    }
}
@media(max-width: 1160px){
    .profile__options-inner{
        flex-wrap: wrap;
    }
    .profile__options-items{
        width: 100%;
        margin-bottom: 40px;
    }
    .deal__create-input, .deal__create-content, .deal__create-textarea {
        max-width: 469px;
    }
    .profile__output-box{
        flex-wrap: wrap;
    }
    .deal__step-first .profile__output-commission{
        margin-top: 20px;
    }
    .deal__create-box {
        margin-right: 17px;
    }
    .creating__table-line{
        flex-wrap: wrap;
    }
    .creating-invitation-content {
        text-align: left;
        width: 100%;
    }
    .creating-invitation__input {
        max-width: 100%;
        margin: 10px 0 20px;
        width: 100%;
    }
    .profile__output-title{
        margin-right: 0;
        width: 100%;
        text-align: left;
    }
    .profile__output-sum{
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .profile__output-form .profile__output-input{
        width: 50%;
    }
    .profile__output-form .profile__output-currency{
        margin: 0;
    }
    .profile__output-options{
        flex-wrap: wrap;
    }
    .profile__output-title{
        margin-bottom: 10px;
    }
    .profile__output-form .profile__output-currency{
        margin-left: 10px;
    }
    .profile__output-form .jq-selectbox__select {
        padding: 8px 125px 0 13px;
    }
    .profile__output-form .profile__output-commission{
        margin-top: 20px;
        max-width: 423px;
        width: 100%;
    }
    .profile-partner__about{
        padding: 25px 20px 25px;
    }
    .profile-partner__head {
        padding: 30px 20px 25px;
    }
    .reviews__item-head {
        padding-left: 20px;
    }
    .reviews__item-inner {
        padding: 10px 10px 10px 20px;
        border-bottom: 0.5px solid #C4C4C4;
    }
   
}
@media(max-width: 1100px){
    .main__safery-bg {
        max-width: 660px;
    }
    .deal__text {
        max-width: 470px;
    }
    .stages__inner{
        overflow-x: scroll;
    }
    .stages__items{
        width: 1080px;
    }
    .main__safe {
        left: -2vw;
        max-width: 390px;
        top: -57px;
    }
    .support__bg{
        display: none;
    }
    .footer.support .footer__disign{
        margin-right: 0;
    }
    .support__text {
        max-width: 520px;
    }
    .support__form{
        margin: 0;
    }
    .profile-partner__information {
        width: 55%;
    }
    .reviews__item-text{
        font-size: 16px;
        line-height: 19px;
    }
}
@media(max-width: 1000px){
    p{
        font-size: 16px;
        line-height: 25px;
    }
    .profile__container{
        padding: 0 10px;
    }
    .main__img-button,
    .main__safe,
    .main__images{
        display: none;
    }
    .main__safe-mobile{
        display: block;
        margin: 0 auto;
        max-width: 500px;
    }
    .main__safery-bg {
        max-width: 100%;
        margin-left: -80px;
    }
    .main__title {
        margin-bottom: 20px;
    }
    .main__wrapper{
        margin-top: 60px;
        padding-bottom: 0px;
    }
    .deal{
        padding-bottom: 80px;
    }
    .deal__images{
        display: none;
    }
    .deal__book-adaptive{
        display: block;
        margin: 0 auto;
    }
    .deal__title{
        max-width: 100%;
    }
    .deal__content{
        width: 100%;
    }
    .deal__text {
        max-width: 100%;
    }
    .useful__images{
        display: none;
    }
    .useful__item-img{
        display: block;
        margin: 0 auto;
    }
    .useful__content{
        width: 100%;
    }
    .useful__title{
        width: 100%;
        margin-bottom: 60px;
    }
    .useful__item-title{
        text-align: center;
        margin-bottom: 20px;
    }
    .useful__list{
        max-width: 100%;
    }
    .particles-button{
        width: 100%;
    }
    .useful__item{
        margin-bottom: 70px;
    }
    .calculator__form form{
        flex-direction: column;
        align-items: center;
    }
    .calculator__form-input{
        margin-bottom: 35px;
    }
    .calculator__form-btn{
        margin-top: 60px;
        max-width: 350px;
        width: 100%;
    }
    .footer__img{
        display: none;
    }
    .footer__disign{
        margin-right: 0;
    }
    .profile__aside{
        transform: translateX(-290px);
        top: 79px;
        transition: all .3s;
        .profile__logo{
            display: none;
        }
    }
    .profile__aside.active{
        transform: translateX(0px);
        z-index: 11;
    }
    .wrapper{
        padding: 0;
    }
    .profile__navigation{
        position: inherit;
        background-color: transparent;
        border-bottom: 0.5px solid #C4C4C4;
        margin-bottom: 50px;
    }
    .profile__navigation-items{
        justify-content: space-between;
    }
    .logo__mobile{
        display: block; 
    }
    .language__select{
        display: none;
    }
    .profile__navigation-menu{
        display: block;
    }
    .profile__navigation-menu svg{
        top: 5px;
        left: 5px;
    }
    .profile .icon-warpper:nth-child(2) {
        margin: 0 30px;
    }
    .support__btn{
        max-width: 468px;
        width: 100%;
    }
    .support__form{
        margin-bottom: 140px;
    }
    .support .profile-balance{
        display: none;
    }
    .agree-success__inner {
        padding-top: 152px;
        margin-bottom: 225px;
    }
    .agree-success__img {
        min-height: 498px;
        top: 70px;
    }
    .argee__inner {
        padding: 60px 0;
    }
    .argee__title {
        margin-bottom: 50px;
    }
    .argee__list {
        margin: 40px 0 80px;
    }
    .argee__item {
        padding-left: 33px;
        margin-top: 20px;
        font-size: 16px;
        line-height: 23px;
        &::before{
            top: 2px;
        }
    }
    .deal__about-tumb {
        width: 140px;
        height: 120px;
    }
    .profile__tab-info.active{
        flex-direction: column-reverse;
    }
    .profile__tab-info.active .profile__tab-box{
        max-width: 100%;
        width: 50%;
    }
    .deal__about-descr{
        padding-top: 20px;
    }
    .profile__tab-info.active .profile__tab-row{
        border-bottom: 0.5px solid #C4C4C4; ;
    }
    .deal__about-row {
        padding: 20px 10px 10px;
    }
    .history__table{
        padding: 15px;
    }
    .profile__item-head {
        padding: 20px 0 20px 20px;
    }
    .profile__deal-link{
        display: block;
        padding: 0;
        margin-bottom: 50px;
    }
    .deal__create-input, .deal__create-content, .deal__create-textarea {
        max-width: 643px;
    }
    .deal__step-first .profile__output-input {
        width: 210px;
    }
    .deal__step-first .profile__output-commission {
        margin-top: 0px;
    }
    .deal__step-first .profile__output-commission {
        width: 280px;
    }
    .deal__create-row{
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .deal__create-name{
        width: 100%;
        text-align: left;
        padding: 0;
        margin-right: 0;
        margin-bottom: 10px;
        &::before{
            display: none;
        }
    }
    .deal__create-row:nth-child(2) .deal__create-name {
        padding-bottom: 0px;
    }
    .deal__create-input, .deal__create-content, .deal__create-textarea {
        max-width: 100%;
    }
    .deal__create .profile__output-sum {
        flex-wrap: wrap;
        margin: 40px 0;
    }
    .deal__create-row:nth-child(4){
        margin-bottom: 40px;
    }
    .deal__about-box{
        width: 50%;
    }
    .deal__about-info{
        flex-direction: column-reverse;
    }
    .deal__about-column,
    .deal__about-inner{
        width: 100%;
    }
    .deal__about.extended .deal__about-box{
        width: 50%;
    }
    .deal__about-descr {
        padding-top: 10px;
    }
    .deal__step-second .deal__about.extended .deal__about-descr {
        padding-top: 10px;
        border-top: 0.5px solid #C4C4C4;
    }
    .deal__about-column:nth-child(1).inactive{
        display: flex;
        flex-direction: column-reverse;
    }
    .deal__about-item{
        border-bottom: 0.5px solid #C4C4C4;
    }
    .deal__about-column.inactive:nth-child(2){
        border-left: none;
    }
    .agree-condition__wrapper {
        padding: 0 15px 27px;
    }
    .deal__about-descr.inactive{
        border-bottom: none;
    }
    .deal__about-descr{
        border-right: none;
    }
    .deal__about-column.deal__about-descr{
        border-top: 0.5px solid #C4C4C4;
    }
    .profile-partner__information{
        width: 50%;
    }
    .reviews__item {
        width: 60%;
    }
}
@media(max-width: 810px){
    .profile-partner__items.active-tab{
        flex-wrap: wrap;
    }
    .reviews__item{
        margin-left: 0;
    }
    .profile-partner__tabs{
        padding-top: 220px;
        position: relative;
    }
    .profile-partner__user{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        justify-content: center;
        flex-direction: column;
    }
    .profile-partner__img{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .partner__user-rate{
        margin: 0 auto;
    }
    .profile-partner__tab:nth-child(1){
        padding-right: 0;
        &::before{
            display: none;
        }
    }
    .profile-partner-tabs{
        background-color: #DCDCDC;
        max-width: 360px;
        width: 100%;
        height: 55px;
        display: flex;
        align-items: center;
        border-radius: 7px;
        margin: 0 auto 30px;
    }
    .profile-partner__tab{
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #4A4A4A;
        padding: 17px 10px;
        width: 50%;
       
    }
    .profile-partner__tab.active{
        color: #fff;
        background-color: #6A3492;
        border-radius: 0px 7px 7px 0px;
    }
    .profile-partner__tab:nth-child(1).active {
        border-radius: 7px 0px 0px 7px;
    }
    .profile-partner__head{
        padding: 0;
        border-bottom: none;
    }
    .profile-partner__inner.inner,
    .reviews__item.inner{
        background: transparent;
        background-blend-mode: inherit;
        border: none;
        box-shadow: none;
        border-radius: 0px;
    }
    .partner__tab-inner{
        background: linear-gradient(317.7deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0.4) 105.18%),#F6F6F6;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255,255,255,0.4);
        box-shadow: inset -5px -5px 10px #FAFBFF, inset 5px 5px 10px rgba(166,171,189,0.37);
        border-radius: 7px;
       
    }
    .profile-partner__inner {
        min-height: auto;
    }
    .profile-partner__about{
        border-bottom: none;
        padding: 0;
    }
    .profile-partner__suptitle{
        margin-top: 30px;
        padding-left: 16px;
        border-bottom: 0.5px solid #C4C4C4;
    }
    .profile-partner__information{
        width: 100%;
    }
    .profile-partner__row{
        padding-left: 16px;
        width: 100%;
    }
    .reviews__item{
        width: 100%;
        padding-bottom: 40px;
    }
    .reviews__item-head{
        text-transform: capitalize;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        padding: 40px 10px 10px 16px;
    }
    .profile-partner__btn{
        margin: 0 15px 10px;
    }
}
@media(max-width: 768px){
    .deal__create.inner,
    .agree-condition__inner.inner,
    .profile__output.inner,
    .settings__profile.inner{
        background: transparent;
        background-blend-mode: inherit;
        border: none;
        box-shadow: none;
        border-radius: 0px;
    }
    .deal__book-adaptive{
        max-width: 450px;
        width: 100%;
    }
    .useful {
        padding: 150px 0 10px;
    }
    .calculator{
        padding-bottom: 80px;
    }
    .argee__about-notice span{
        display: none;
    }
    .profile__balance{
        flex-wrap: wrap;
        justify-content: center;
    }
    .profile__balance-item {
        padding: 13px;
    }
    .profile__balance-item:nth-child(1), .profile__balance-item:nth-child(2) {
        width: 50%;
    }
    .profile__balance-item:nth-child(2) {
        border-right: none; 
    }
    .profile__balance-item:nth-child(3){
        border-top: 0.5px solid #C4C4C4;
        width: 100%;
    }
    .profile__balance-btn{
        margin: 0 auto;
        max-width: 327px;
        width: 100%;
    }
    .profile__deal{
        padding: 0;
    }
    .profile__deal.inner{
        background: none;
        background-blend-mode: none;
        border:  none;
        box-shadow: none;
        border-radius: 0px;
        display: flex;
        flex-direction: column-reverse;
    }
    .profile__deal-creat{
        padding: 0;
    }
    .profile__item-head{
        font-weight: 400;
        padding-left: 0;
        padding-top: 0;
        margin-top: 50px;
        border-bottom: none;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: -12px;
            right: 0;
            top: 40px;
            height: 0.5px;
            background-color: #C4C4C4;
            width: 130%;

        }
    }
    .profile__tabs .deal__about{
        margin: 0;
    }
    .profile__tabs-inner{
        flex-wrap: wrap;
    }
    .profile__tabs-buttons{
        margin-bottom: 15px;
    }
    .profile__tabs-buttons,
    .profile__search,
    .profile__search-input{
        width: 100%;
    }
    .history__inner.inner{
        box-shadow: none;
        background: transparent;

        border-radius: 0;
        .profile__item-head{
            margin-top: 0;
        }
    }
    .history__table,
    .profile__output-form,
    .settings__wrapper,
    .settings__finance{
        margin-top: 20px;
        background: linear-gradient(317.7deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0.4) 105.18%),#F6F6F6;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255,255,255,0.4);
        box-shadow: inset -5px -5px 10px #FAFBFF, inset 5px 5px 10px rgba(166,171,189,0.37);
        border-radius: 7px;
    }
    .history__table-content{
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
    }
    .history__table-title{
        color: #646464;
    }
    .history__table-title+.history__table-title,
    .history__table-content+.history__table-content{
        padding-left: 9px;
    }
    .deal__create-title{
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
    }
    .deal__create-subtitle{
        font-size: 13px;
        line-height: 15px;
    }
    .deal__create-radios{
        margin-bottom: 30px;
    }
    .deal__create-wrapper{
        background: linear-gradient(317.7deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0.4) 105.18%),#F6F6F6;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255,255,255,0.4);
        box-shadow: inset -5px -5px 10px #FAFBFF, inset 5px 5px 10px rgba(166,171,189,0.37);
        border-radius: 7px;
        padding: 53px 15px 19px;
    }
    .settings__finance,
    .settings__wrapper{
        margin-top: 0;
        border: none;
    }
    .settings__finance{
        border-radius: 0;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        box-shadow: inset -5px 0px 10px #FAFBFF, inset 5px 0px 10px rgba(166,171,189,0.37);
    }
    .settings__wrapper{
        border-radius: 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .settings__finance-head{
        margin-top: 0;
    }
    .deal__create-step{
        width: 130px;
    }
    .deal__create-line {
        width: 77%;
    }
    .deal__create-step::before{
        left: 47px;
    }
    .deal__step-first .profile__output-commission {
        max-width: 353px;
        width: 100%;
        margin-top: 20px;
    }
    .deal__step-first .profile__output-input{
        max-width: 220px;
        width: 100%;
    }
    .deal__about-info{
        flex-direction: column-reverse;
    }
    .deal__about-column{
        width: 100%;
    }
    .deal__about-box{
        width: 50%;
    }
    .deal__create-wrapper,
    .deal__about-wrapper{
        background: linear-gradient(317.7deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0.4) 105.18%),#F6F6F6;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255,255,255,0.4);
        box-shadow: inset -5px -5px 10px #FAFBFF, inset 5px 5px 10px rgba(166,171,189,0.37);
        border-radius: 7px; 
        padding: 15px;
    }
    .deal__create-about{
        margin-top: 0;
    }
   
    .deal__about-descr.inactive {
        border-bottom: none;
    }
    .deal__about-tumb{
        margin-right: 10px;
    }
    .deal__about {
        margin: 0 10px;
    }
    .deal__about-images{
        justify-content: flex-start;
    }
    .deal__create-agreed{
        margin-left: 0;
    }
    .deal__step-second.descr .deal__about.extended {
        margin: 0 10px;
    }
    .agree-condition__inner .deal__about-wrapper{
        padding: 0 0 15px;
        margin-top: 30px;
    }
    .agree-condition__info{
        margin: 0 0 40px;
    }
    .agree-condition__wrapper{
        padding: 0 0 27px;
    }
    .agree-condition__text,
    .agree-condition__buttons{
        padding: 0 15px;
    }
    .agree-condition__info{
        padding: 15px;
        .agree-condition__text{
            padding: 0;
            margin-top: 20px;
            font-size: 15px;
        }
    }
    .profile__output-form{
        padding: 15px;
    }
    .deal__step-second .deal__about-wrapper{
        padding: 15px 0 0;
    }
    .deal__step-third .deal__about {
        margin: 0;
    }
    .argee__about-box{
        padding: 30px 10px 30px 10px;
    }
    .profile-balance.agree-success{
        display: none;
    }
    .settings__items{
        position: relative;
        flex-direction: column-reverse;
    }
    .settings_profile-balance{
        position: absolute;
        left: 10px;
        right: 10px;
        top: 0;
    }
    .settings__item:nth-child(2){
        padding-top: 226px;
    }
    .settings__inner-head{
        display: block;
    }
    .settings__finance-card {
        max-width: 60%;
    }
    .reviews__item-head.profile__item-head{
        padding: 40px 10px 10px 16px;
        border-bottom: 0.5px solid #C4C4C4;
        font-weight: 500;
        margin-top: 0;
        &::before{
            display: none;
        }
    }
}
@media(max-width: 655px){
    .footer__inner{
        flex-direction: column-reverse;
    }
    .footer__socila-list{
        position: absolute;
        top: -56px;
        display: flex;
        justify-content: center;
    }
    .footer__inner{
        padding: 24px 0 17px;
    }
    .footer__disign{
        margin-bottom: 21px;
    }
    .agree-success__inner {
        padding-top: 112px;
        margin-bottom: 355px;
    }
    .agree-success__img{
        top: 30px;
    }
    .argee__inner {
        padding: 60px 0 130px;
    }
    .profile__notification-info{
        right: -150px;
    }
    .profile__tabs-inner{
        margin: 21px 0 30px;
    }
    .profile-tabs{
        margin-bottom: 130px;
    }
    .profile__tab-inner{
        flex-wrap: wrap;
    }   
    .profile__tab-box:nth-child(1), 
    .profile__tab-box:nth-child(2) {
        width: 50%;
    }
    .profile__tab-box:nth-child(3){
        border-top: 0.5px solid #C4C4C4;
        width: 100%;
    }
    .tab-item__btn{
        width: 100%;
    }
  
    .deal__about-tumb{
        margin-right: 30px;
    }
    .deal__about-descr {
        padding: 35px 10px 13px 10px;
    }
    .profile__options-item{
        padding-right: 0;
        &::before{
            display: none;
        }
    }
    .profile .profile__options-item+.profile__options-item {
        margin-left: 0;
    }
    .profile__options-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .history__inner{
        margin-bottom: 135px;
    }
    .history__table-content{
        span{
            display: inline-block;
        }
    }
    .history__table-currency{
        display: none;
    }
    .history__table-title:nth-child(4){
        display: none;
    }
    .transparent-btn.deal__create-btn{
        display: none;
    }
    .deal__create-buttons{
        margin-top: 40px;
    }
    .deal__create-btn{
        width: 100%;
    }
    .creating-second .deal__about-descr {
        padding: 20px 10px 13px 10px;
    }
    .deal__create{
        margin-bottom: 135px;
    }
    .agree-condition{
        margin-bottom: 135px;
    }
    .agree-condition__buttons{
        flex-wrap: wrap;
    }
    .agree-condition__btn{
        width: 100%;
    }
    .agree-condition__btn:nth-child(2){
        margin-top: 20px;
    }
    .settings__finance-content.adaptive{
        display: none;
    }
    .settings__finance-card{
        max-width: 100%;
    }
    .settings__finance-input::placeholder{
        font-size: 18px;
        line-height: 21px;
    }
    .settings__finance-card .jq-selectbox .placeholder{
        font-size: 18px;
    }
    .settings__finance-add{
        background-color: #DCDCDC;
        border-radius: 7px;
        font-weight: 400;
        text-decoration: none;
        padding: 18px;
        margin: 10px auto 0;
        width: 100%;
    }
    .settings__finance-content {
        width: auto;
        text-align: left;
        margin-right: 50px;
    }
    .settings__finance-currency{
        width: 150px;
    }
    .settings__finance-inner{
        padding: 30px 15px 15px;
    }
    .profile-partner {
        padding-bottom: 135px;
    }
}
@media(max-width: 550px){
    h1{
        font-size: 35px;
        line-height: 38px;
    }
    .deal__text p {
        margin-top: 35px;
    }
    .useful__item-title{
        text-align: left;
    }
    .calculator__title{
        margin-bottom: 50px;
        text-align: left;
    } 
    .deal__create-box {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .deal__create-row:nth-child(4) {
        margin-bottom: 20px;
    }
    .creating__table-succses{
        padding: 15px;
    }
    .creating-invitation__btn{
        width: 100%;
        margin-top: 20px;
    }
    .creating-invitation__input{
        padding: 11px;
    }
    .profile__output-btn{
        margin-top: 40px;
        width: 100%;
    }
    .deal__about-descr {
        padding: 20px 10px 13px 10px;
    }
    .profile-partner .profile-partner-rate .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group svg+svg {
        margin-left: 10px !important;
    }
}
@media(max-width: 500px){
    .main__safery-bg{
        margin-left: 0;
    }
    .questions__form-btn{
        width: 100%;
    }
    .agree-success__img {
        width: 276px;
        height: 368px;
        margin: 0 auto;
        top: -10px;
    }
    .agree-success__text {
        margin: 20px auto 40px;
    }
    .agree-success__inner {
        margin-bottom: 245px;
    }
    .deal__create-radios .deal__create-choice>label{
        width: 180px;
    }
    .deal__create-radios{
        width: 360px;
    }
}
@media(max-width: 475px){
    .header__login span{
        display: none;
    }
    .language__select{
        .jq-selectbox__select{
            display: none;
        }
    }
    .header__login::before, .header .jq-selectbox::before{
        top: -21px;
    }
    .header .jq-selectbox::before {
        top: -24px;
    }   
    .header__login svg{
        top: -10px;
    }
    .language__select svg{
        top: 1px;
    }
    .profile__tab-span{
        display: none;
    }
    .profile__tab-active{
        left: 30px; 
        top: -28px;
    }
    .profile__tab-box {
        padding: 7px 5px 7px 7px;
    }
    .profile__options-item{
        margin-top: 30px;
    }
    .profile__tab-options{
        margin-top: 0;
    }
   
    .profile__options-btn{
        width: 100%;
    }
    .history__table-title {
        padding: 9px 4px 10px;
    }
    .history__table-title+.history__table-title, 
    .history__table-content+.history__table-content {
        padding-left: 3px;
    }
    .deal__step-first .profile__output-input {
        max-width: 200px;
        width: 100%;
    }
    .profile__output-currency {
        margin: 0 0px 0 9px;
    }
    .deal__create-content{
        position: relative;
    }
    .textarea-suptitle{
        margin-bottom: 15px;
    }
    .deal__create-step {
        width: 100px;
    }
    .deal__create-step::before {
        left: 33px;
    }
    .deal__create-line {
        width: 68%;
    }
    .deal__create-inner {
        padding: 50px 7px 35px;
    }
    .profile-partner__btn {
        width: 94%;
    }
}
@media(max-width: 425px){
    .deal__about-tumb {
        margin-right: 9px;
    }
    .history__table-content{
        font-size: 14px;
        padding: 9px 4px 10px;
    }
    .profile__deal-button{
        width: 100%;
    }
    .profile__deal-button span{
        width: 55px;
    }
    .deal__create-radios .deal__create-choice>label {
        width: 160px;
    }
    .deal__create-radios {
        width: 320px;
    }
    .creating-second .creating__table-buttons {
        margin: 21px 15px 40px 0;
    }
    .creating__table-text{
        font-size: 15px;
        line-height: 23px;
    }
    .deal__about-tumb {
        width: 120px;
    }
    .agree-condition__wrapper{
        padding: 0;
    }
}
@media(max-width: 375px){
    .argee__about-info span{
        display: block;
    }
    .history__table-item:nth-child(even){
        justify-content: space-between;
    }
    .history__table-price{
        width: 312px;
    }
    .jq-selectbox__select {
        padding: 8px 70px 0 13px;
    }
    .deal__about-box {
        padding: 20px 0px 20px 3px;
    }
    .profile-partner__btn {
        width: 92%;
    }
}
@media(max-width: 374px){
    .creating-invitation__input:nth-child(2){
        overflow-x: scroll;
    }   
    .creating-second .creating__table-buttons{
        flex-wrap: wrap;
        justify-content: center;
    }   
    .creating__table-btn:nth-child(2) {
        margin-left: 0px;
        margin-top: 15px;
    }
    .profile__output-form .profile__output-currency{
        margin: 10px 0;
        width: 100%;
    }
    .profile__output-form .profile__output-input {
        width: 100%;
    }
    .deal__about-column, .deal__about-inner{
        flex-wrap: wrap;
    }
    .deal__about-box:nth-child(1){
        border-bottom: 0.5px solid #C4C4C4;
        border-right: none;
    }
    .deal__about.extended .deal__about-box{
        width: 100%;
    }
    .deal__about-box {
        padding: 20px 3px 20px 10px;
    }
}
@media(max-width: 365px){
    h1{
        font-size: 30px;
        line-height: 35px;
    }
    .profile .icon-warpper:nth-child(2) {
        margin: 0 10px;
    }
    .calculator .jq-selectbox,
    .calculator__form-input {
        width: 300px;
    }
    .profile__tab-box:nth-child(1), .profile__tab-box:nth-child(2) {
        max-width: 100%;
        width: 100%;
        padding-left: 10px;
    }
    .profile__tab-box:nth-child(1) {
        border-right: none;
        border-bottom: 0.5px solid #C4C4C4;
    }
    .deal__about-tumb{
        margin-right: 0;
    }
    .deal__about-images{
        flex-direction: column-reverse;
        align-items: center;
    }
    .profile__tab-info.active .profile__tab-box{
        width: 100%;
    }
    .history .profile__container{
        padding: 0 2px;
    }
    .history__table {
        padding: 5px;
    }
    .history__table-title {
        padding: 9px 0px 10px 2px;
    }
    .deal__create-radios .deal__create-choice>label {
        width: 140px;
    }
    .deal__create-radios {
        width: 280px;
    }
    .deal__create-step:nth-child(2) {
        margin: 0 13px;
    }
    .deal__create-step:nth-child(1)::before {
        left: 20px;
    }
    .profile__output-currency{
        margin: 0;
    }
    .deal__step-first .profile__output-input {
        max-width: 100%;
        margin-bottom: 10px;
    }
    .history__table-title+.history__table-title, .history__table-content+.history__table-content {
        padding-left: 4px;
    }
    .deal__step-first .profile__output-input {
        max-width: 100%;
    }
    .profile__output-currency{
        width: 100%;
        margin: 10px 0 0;
    }
    .profile-partner__btn {
        width: 90%;
    }
}