@media(max-width: 1440px){
    .main__container{
        margin-left: 0;
    }
    .main__img-clips{
        right: 90px;
    }
    .useful__images-store{
        margin-left: -110px;
    }
    .support__form{
        margin-top: 20px;
        margin-left: 50px;
    }
    .support__bg{
        right: -170px;
    }
}