@media(max-width: 1620px){
    .settings__item:nth-child(1) {
        width: 75%;
    }
}
@media(max-width: 1550px){
    .main__safe {
        left: -9vw;
        top: -90px;
        max-width: 540px;
    }
}
@media(max-width: 1440px){
    .main__container{
        margin-left: 0;
    }
    .main__img-clips{
        right: 90px;
    }
    .useful__images-store{
        margin-left: -110px;
    }
    .support__form{
        margin-top: 20px;
        margin-left: 50px;
    }
    .support__bg{
        right: -170px;
    }
    .profile__balance-item:nth-child(1), .profile__balance-item:nth-child(2) {
        max-width: 366px;
        width: 100%;
    }
    .deal__about-tumb{
        width: 7vw;
    }
    .deal__about.extended .deal__about-box {
        width: 15vw;
    }
    .deal__step-first{
        .profile__output-commission{
            width: 230px;
        }
        .profile__output-input {
            width: 234px;
        }
    }

    .agree-success__inner{
        padding-top: 0;
    }
    .agree-success__img{
        top: -60px;
    }
    .profile-partner__information{
        width: 41%;
    }
    .footer__disign{
        margin-right: 60px;
    }
    .footer__img {
        right: -330px;
    }
}
@media(max-width: 1400px){
    .main__safery-bg{
        max-width: 760px;
    }
    .main__safe {
        left: -5vw;
        max-width: 500px;
    }
}
@media(max-width: 1360px){
    .profile-partner__information {
        width: 50%;
    }
    .profile__aside{
        width: 230px;
    }
    .wrapper{
        padding-left: 230px;
    }
    .profile__tab-box{
        padding: 10px;
    }
}
@media(max-width: 1300px){
    .useful__item{
        align-items: center;
    }
    .useful__dark,.useful__color{
        width: 17vw;
    }
    .useful__images-tablet{
        .useful__dark,.useful__color{
            width: 22vw;
        }
    }
    .useful__images-oranges{
        bottom: 25px;
        left: 44px;
        .useful__dark,.useful__color{
            width: 16vw;
        }
    }
    .useful__images-magnifier{
        margin-top: 70px;
        .useful__dark,.useful__color{
            width: 13vw;
        }
    }
    .useful__images-pineapple{
        .useful__dark,.useful__color{
            width: 15vw;
        }
    }
    .useful__img-laptop{
        .useful__dark,.useful__color{
            width: 25vw;
        }
    }
    .footer__disign{
        margin-right: 120px;
    }
    .footer__img {
        right: -270px;
    }
    .main__safe {
        left: -1vw;
        max-width: 430px;
        top: -50px;
    }
    .profile__tabs-content {
        padding: 15px;
    }
    .support__bg {
        width: 600px;
        right: -150px;
    }
    .footer.support .footer__disign {
        margin-right: 150px;
    }
}
@media(max-width: 1230px){
    .profile__tab-details span{
        display: none;
    }
    .profile__tabs-inner{
        margin: 21px 0;
    }
    .support__bg {
        width: 530px;
        right: -190px;
    }
    .footer.support .footer__disign {
        margin-right: 70px;
    }
}
@media(max-width: 1100px){
    .main__safery-bg {
        max-width: 660px;
    }
    .deal__text {
        max-width: 470px;
    }
    .stages__inner{
        overflow-x: scroll;
    }
    .stages__items{
        width: 1080px;
    }
    .main__safe {
        left: -2vw;
        max-width: 390px;
        top: -57px;
    }
    .support__bg{
        display: none;
    }
    .footer.support .footer__disign{
        margin-right: 0;
    }
    .support__text {
        max-width: 520px;
    }
    .support__form{
        margin: 0;
    }
}
@media(max-width: 1000px){
    p{
        font-size: 16px;
        line-height: 25px;
    }
    .profile__container{
        padding: 0 15px;
    }
    .main__img-button,
    .main__safe,
    .main__images{
        display: none;
    }
    .main__safe-mobile{
        display: block;
        margin: 0 auto;
        max-width: 500px;
    }
    .main__safery-bg {
        max-width: 100%;
        margin-left: -80px;
    }
    .main__title {
        margin-bottom: 20px;
    }
    .main__wrapper{
        margin-top: 60px;
        padding-bottom: 0px;
    }
    .deal{
        padding-bottom: 80px;
    }
    .deal__images{
        display: none;
    }
    .deal__book-adaptive{
        display: block;
        margin: 0 auto;
    }
    .deal__title{
        max-width: 100%;
    }
    .deal__content{
        width: 100%;
    }
    .deal__text {
        max-width: 100%;
    }
    .useful__images{
        display: none;
    }
    .useful__item-img{
        display: block;
        margin: 0 auto;
    }
    .useful__content{
        width: 100%;
    }
    .useful__title{
        width: 100%;
        margin-bottom: 60px;
    }
    .useful__item-title{
        text-align: center;
        margin-bottom: 20px;
    }
    .useful__list{
        max-width: 100%;
    }
    .particles-button{
        width: 100%;
    }
    .useful__item{
        margin-bottom: 70px;
    }
    .calculator__form form{
        flex-direction: column;
        align-items: center;
    }
    .calculator__form-input{
        margin-bottom: 35px;
    }
    .calculator__form-btn{
        margin-top: 60px;
        max-width: 350px;
        width: 100%;
    }
    .footer__img{
        display: none;
    }
    .footer__disign{
        margin-right: 0;
    }
    .profile__aside{
        display: none;
    }
    .wrapper{
        padding: 0;
    }
    .profile__navigation{
        position: inherit;
        background-color: transparent;
        border-bottom: 0.5px solid #C4C4C4;
        margin-bottom: 50px;
    }
    .profile__navigation-items{
        justify-content: space-between;
    }
    .logo__mobile{
        display: block; 
    }
    .language__select{
        display: none;
    }
    .profile__navigation-menu{
        display: block;
    }
    .profile__navigation-menu svg{
        top: 5px;
        left: 5px;
    }
    .profile .icon-warpper:nth-child(2) {
        margin: 0 30px;
    }
    .support__btn{
        max-width: 468px;
        width: 100%;
    }
    .support__form{
        margin-bottom: 140px;
    }
}
@media(max-width: 655px){
    .footer__inner{
        flex-direction: column-reverse;
    }
    .footer__socila-list{
        position: absolute;
        top: -56px;
    }
    .footer__inner{
        padding: 24px 0 17px;
    }
    .footer__disign{
        margin-bottom: 21px;
    }
}
@media(max-width: 768px){
    .deal__book-adaptive{
        max-width: 450px;
        width: 100%;
    }
    .useful {
        padding: 150px 0 10px;
    }
    .calculator{
        padding-bottom: 80px;
    }
}
@media(max-width: 550px){
    h1{
        font-size: 35px;
        line-height: 38px;
    }
    .deal__text p {
        margin-top: 35px;
    }
    .useful__item-title{
        text-align: left;
    }
    .calculator__title{
        margin-bottom: 50px;
        text-align: left;
    } 
    
}
@media(max-width: 500px){
    .main__safery-bg{
        margin-left: 0;
    }
    .questions__form-btn{
        width: 100%;
    }
}
@media(max-width: 475px){
    .header__login span{
        display: none;
    }
    .language__select{
        .jq-selectbox__select{
            display: none;
        }
    }
    
    .header__login::before, .header .jq-selectbox::before{
        top: -21px;
    }
    .header .jq-selectbox::before {
        top: -24px;
    }   
    .header__login svg{
        top: -10px;
    }
    .language__select svg{
        top: 1px;
    }
}
@media(max-width: 365px){
    h1{
        font-size: 30px;
        line-height: 35px;
    }
    .calculator .jq-selectbox,
    .calculator__form-input {
        width: 300px;
    }
}