@import "vars";
@import "libs";
@import "fonts";
@import "global";


//start header
.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
    }
    &__navigation{
        display: flex;
        align-items: center;
    }
    &__btn{
        display: inline-block;
        background: #FFFFFF;
        border: 0.5px solid #E5E5E5;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 15px;
    }
    &__login{
        margin-left: 20px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: #4A4A4A; 
        transition: all .3s;
        svg{
            position: absolute;
            left: 12px;
            top: -1px;
        }
        &::before{
            top: -12px;   
        }
        &:hover{
            color: #7D4F9E;
            svg path{
                stroke: #7D4F9E;
            }
        }
    }
    &__language{
        position: relative;
        svg{
            position: absolute;
            z-index: 11;
            top: 3px;
            left: 9px;
        }
        &:hover{
            .jq-selectbox__select{
                color: #7D4F9E;
            }
            svg path{
                fill: #7D4F9E;
            }
        }
    }
    .jq-selectbox::before{
        top: -7px;
    }
    &__login,
    .jq-selectbox{
        position: relative;
        padding-left: 52px;
        &::before{
            content: "";
            position: absolute;
            background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
            background-blend-mode: soft-light, normal;
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            left: 0;
        }
    }
    .jq-selectbox__select {
        height: 32px;
        padding: 0 31px 0 0px;
        border: none;
        border-bottom-color: transparent;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        font: inherit;
        font-weight: 400;
        color: #4A4A4A;
        text-shadow: none;
    }
    .jq-selectbox__trigger-arrow {
        position: absolute;
        top: 10px;
        right: 12px;
        width: 15px;
        height: 12px;
        border-top: none;
        border-right: none;
        border-left: none;
        background-image: url(../images/select-arrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    .jq-selectbox.focused .jq-selectbox__select{
        border-color: transparent;
        border: none;
    }
}
.language__select{
    position: relative;
    svg{
        position: absolute;
        z-index: 11;
        top: 3px;
        left: 9px;
    }
    &:hover{
        .jq-selectbox__select{
            color: #7D4F9E;
        }
        svg path{
            fill: #7D4F9E;
        }
    }
}
//end header

//start main
.main{
    &__container{
        max-width: 1490px;
        margin-left: 6.5vw;
    }
    &__inner{
       display: flex;
       align-items: center; 
       position: relative;
       margin-top: 30px;
    }
    &__content{
        text-align: center;
        position: relative;
        padding: 270px 0 0;
    }
    &__safery-bg{
        position: absolute;
        left: -240px;
        top: -50px;
    }
    &__title{
        margin-bottom: 90px;
    }
    &__btn{
        display: block;
        margin: 0 auto;
    }
    &__img-clips{
        position: absolute;
        right: 150px;
        bottom: 70px;
    }
   &__img-button{
        position: absolute;
        top: 50px;
        right: 160px;
   }
   &__img-pen{
        margin-left: 200px;
   }
   .particles-canvas{
        left: 250px;
   }
   .particles-button{
       margin: 0 auto;
   }
}
//end main

//start deal
.deal{
    padding: 97px 0 150px;
    &__inner{
        display: flex;
        justify-content: space-around;
        &:hover{
            .deal__images-hover{
                opacity: 1;
            }
        }
    }
    &__title{
        margin-bottom: 25px;
        max-width: 570px;
    }
    &__text{
        width: 568px;
        p{
            margin-top: 45px;
        }
    }
    &__images-hover{
        transition: all .5s;
        opacity: 0;
    }
    &__images{
        position: relative;
    }
    &__images-knife{
        right: -73px;
        bottom: 6px;
    }
    &__images-hover {
        position: absolute;
    }
    &__images-fork{
        left: -91px;
        bottom: 15px;
    }
    &__cherry{
        position: absolute;
        top: 101px;
        left: 184px;
    }
}
//end deal

//start stages
.stages{
    &__title{
        text-align: center;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }
    &__item{
        width: 231px;
    }
    &__item-img{
        width: 150px;
        height: 150px;
        margin: 0 11px 40px;
        border-radius: 50%;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-shadow: inset -5px -5px 10px #FAFBFF, inset 5px 5px 10px #A6ABBD;
        background-repeat: no-repeat;
        background-size: inherit;
        background-position: center bottom; 
        position: relative;
    }
    &__item-color{
        opacity: 0;
        background-position: inherit; 
        transition: all .3s;
        position: absolute;
        top: 0;
    }
    &__item:hover{
        .stages__item-img{
            background-position: inherit;
        }
        .stages__item-color{
            opacity: 1;
        }
    }
    &__item-text{
        font-size: 16px;
        line-height: 26px;
        margin-top: 20px;
    }
}
//end stages

//start useful
.useful{
    padding: 150px 0 50px;
    &__item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    &__title{
        width: 569px;
        margin-bottom: 70px;
    }
    &__list{
        margin-top: 20px;
        margin-bottom: 70px;
        max-width: 528px;
        
    }
    &__list-item{
        margin-top: 30px;
        position: relative;
        padding-left: 29px;
        &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 7px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: #F0972C;
        }
    }
    &__images{
        display: flex;
    }
    &__img{
        position: relative; 
        transition: all .5s;
        .useful__color{
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .5s;
        }
    }
    &__img:hover{
        .useful__color{
           opacity: 1;
        }
    }

    &__images-tablet{
       position: relative;
    }
    &__images-oranges{
        position: absolute;
        bottom: 115px;
        left: 48px;
        .useful__color{
            position: absolute;
            bottom: 8px;
        }
    }
    &__images-magnifier{
        margin-top: 130px;
    }
    &__images-pineapple{
        margin-top: -60px;
    }
    &__item-individuals{
        display: inline-flex;
    }
    &__images-individuals{
        margin-left: 120px;
    }   
}
//end useful

//start calculator
.calculator{
    padding-bottom: 150px;
    &__title{
        text-align: center;
        margin-bottom: 70px;
    }
    &__form{
        form{
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
        }
    }
    &__form-title{
        line-height: 25px;
        color: #4A4A4A;
        font-weight: 400;
        margin-bottom: 10px;
    }
    &__form-input{
        width: 350px;
    }
    &__form-btn{
        background-color: #FFC575;
        color: #6A3492;
        line-height: 17px;
        max-width: 250px;
        width: 100%;
        padding: 16px 5px;
        font-weight: 400;
        border: none;
        outline: none;
        border-radius: 7px;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            background-color: #F0972C;
        }
    }
    .jq-selectbox {
        width: 350px;
    }
    .jq-selectbox__select {
        height: 48px;
        padding: 9px 13px;
        border: 0.5px solid #B8B8B8;
        border-bottom-color: #B8B8B8;
        border-radius: 7px;
        background: transparent;
        box-shadow: none;
        font: inherit;
        font-size: 18px; 
        line-height: 29px;
        color: #9A9D9D;
        font-weight: 300;
        text-shadow: none;
    }
    .jq-selectbox__select-text{
        overflow: inherit;
    }
    
    .jq-selectbox__trigger-arrow {
        position: absolute;
        top: 19px;
        right: 12px;
        width: 0;
        height: 0;
        border-top: 11px solid #C4C4C4;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
    }
    .jq-selectbox:hover .jq-selectbox__trigger-arrow {
        border-top-color: #4A4A4A;
    }
    .jq-selectbox.focused .jq-selectbox__select{
        border: 0.5px solid #B8B8B8;
    }
    
}
//end calculator

//start questions
.questions{
    padding-bottom: 100px;
    &__inner{
        position: relative;
    }
   &__text{
        color: #4A4A4A;
        line-height: 28px;
        margin: 10px 0 50px;
        max-width: 607px;
   } 
   &__form-input{
       display: block;
       max-width: 468px;
       width: 100%;
       margin-bottom: 35px;
   }
   &__form-btn{
       border: none;
   }
   &__img{
       position: absolute;
       right: -392px;
       top: 0;
   }
   
}
//end questions

//start footer
.footer{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #DBDBDB;
        box-shadow: 0px 1px 0px #FFFFFF;
        padding: 30px 0 25px;
    }
    &__copy,
    &__disign{
        font-size: 13px;
        line-height: 16px;
    }
    &__copy{
        position: relative;
        padding-left: 19px;
        &::before{
            content: "";
            position: absolute;
            background-image: url(../images/copy-icon.svg);
            left: 0;
            width: 15px;
            height: 15px;
            background-size: cover;
        }
    }
    &__socila-list{
        display: flex;
    }
    &__social-item{
        width: 35px;
        height: 35px;
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
        border-radius: 50%;
        background-blend-mode: soft-light, normal;
        padding: 4px 8px;        
        & + .footer__social-item{
            margin-left: 25px;
        }
    }
    &__disign{
        display: flex;
        align-items: center;
        z-index: 10; 
        transition: all .4s;
        cursor: pointer;
        &:hover{
            color: #7D4F9E;
        }
    }   
    &__disign-logo{
        margin-left: 14px;
    }
    &__social-link{
       svg path{
            transition: all .4s;
       }
        &:hover{
            svg path{  
                fill: #7D4F9E;
            }
        }
    }
    &__social-link.mail:hover{
        svg path{  
            stroke: #7D4F9E;
            fill: transparent;
        }
    }
}
//end footer

//page profile start
.profile{
    display: flex;
    &__aside{
        box-shadow: 7px 4px 7px rgba(0, 0, 0, 0.17);
        width: 280px;
        height: 952px;
    }
    &__logo{
        text-align: center;
        display: block;
        margin-bottom: 50px;
    }
    &__user{
        text-align: center;
    }
    &__user-avatar{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #F6F6F6;
        background-blend-mode: soft-light, normal;
        border: 2px solid rgba(255, 255, 255, 0.502431);
        box-shadow: inset -6px -6px 13px #FAFBFF, inset 7px 7px 13px rgba(166, 171, 189, 0.5);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user-rate{
        margin: 20px auto 10px;
    }
    &__user-name{
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
    }
    &__aside-menu{
        margin-top: 50px;
    }
    &__aside-item{
        padding: 17px 17px 16px 40px;
    }
    &__aside-item.active{
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 900;
        color: #6A3492;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-color: #7D4F9E;
            width: 4px;
            top: 0;
            bottom: 0;
            right: 0;
        }
    }
    &__aside-link{
        text-transform: uppercase;
        font-size: 16px;
        line-height: 19px;
    }
    &__wrapper{
        width: 100%;
    }
    &__navigation{
        background-color: rgba(214, 214, 214, 0.33);
        padding: 10px 0;
    }
    &__navigation-box{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            right: 0;
            top: 30px;
        }
        &:hover{
            .profile__notification-info{
                opacity: 1;
                height: auto;
                overflow: hidden;
                border: 1px solid #E5E5E5;
            }
        }
    }
    &__navigation-notification{
        display: block;
        position: relative;
        span{
            position: absolute;
            background-color: #F0972C;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            right: 6px;
            top: 8px;
            z-index: 10;    
        }
    }
    &__notification-info{
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 504px;
        height: 0;
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 48px;
        opacity: 0;
        transition: all .4s;
    }
    &__notification-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 10px 13px 25px;
        border-bottom: 0.5px solid #E5E5E5;
    }
   &__notification-count{
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        padding: 2px 7px;
        background-color:#F0972C;
        border-radius: 50%;
    }  
    &__notification-onread{
        background-color: transparent;
    }  
    &__notification-content{
        padding: 30px 10px 34px 25px;
    }
    &__notification-text{
        margin: 20px 0 15px;
        font-size: 16px;
        line-height: 23px;
        width: 420px;
    }
    &__notification-date{
        font-size: 16px;
        line-height: 23px;
        color: #817F7F;
    }
    &__navigation-items{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .icon-warpper:nth-child(1){
        svg{
            top: 4px;
            left: 4px;
        }
    }
    .icon-warpper:nth-child(2){
        margin: 0 50px;
        svg{
            top: 4px;
            left: 6px;
        }
    }
    .language__select svg {
        top: 4px;
    }
    .language__select .jq-selectbox::before{
        top: -4px;
    }
    &__balance{
        margin: 50px 0 50px ;
    }
    &__suptitle{
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    &__balance{
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    &__balance-item{
        padding: 17px;
    }
    &__balance-item:nth-child(1),
    &__balance-item:nth-child(2){
        max-width: 585px;
        width: 100%;
    }
    &__balance-item:nth-child(2){
        border-right: 0.5px solid #C4C4C4;
        border-left: 0.5px solid #C4C4C4;
    }
    &__balance-money{
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
    }
    &__balance-btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__balance-icon{
        margin-right: 10px;
    }
    &__deal{
        padding: 0 0 35px;
    }
    &__deal-creat{
        padding: 35px 0 0px 35px;
    }
    &__deal-button{
        position: relative;
        padding-left: 60px;
        display: block;
        &:hover{
            background-color: #6A3492;
        }
        span{
            background-color: #6A3492;
            font-weight: 700;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 196px;
            font-size: 40px;
            line-height: 47px;
            border-radius: 7px 0px 0px 7px;
        }
    }

    &__tabs{
        margin-bottom: 20px;
    }

    &__tabs-inner{
        margin: 21px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__tabs-buttons{
        border-radius: 7px;
        background-color: #DCDCDC;
        width: 350px;
        display: flex;
        
        align-items: center;
    }
    &__tab-btn{
        background-color: #DCDCDC;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #4A4A4A;
        width: 50%;
        text-align: center;
        cursor: pointer;
    }
    &__tab-btn.active{
        background: #6A3492;
        border-radius: 0px 7px 7px 0px;
        color: #fff;
        padding: 17px 10px;
    }
    &__tab-btn:nth-child(1).active{
        border-radius: 7px 0px 0px 7px;
    }
    &__search{
        position: relative;
    }
    &__search-input{
        background-color: #fff;
        border-radius: 7px;
        padding: 16px 56px 16px 16px;
        border: none;
        width: 350px;
        &::placeholder{
            line-height: 21px;
            color: #9A9D9D;
            font-weight: 300;
        }
    }
    &__search-btn{
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #C2C2C2;
        border-radius:  0px 7px 7px 0px ;
        width: 55px;
    }
    &__tabs-content{
        padding: 35px;
    }
    &__tab-item.active-tab{
        display: block;
    }
    &__tab-item{
        display: none;
    }
    &__tab-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__tab-info.active{
        display: flex;
        justify-content: space-between;
    }
    &__tab-status{
        padding-left: 32px;
        font-weight: 300;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            left: 0;
            top: 6px;
            border-radius: 50%;
            background-color: #83FB4A;
        }
    }
    &__tab-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__tab-box{
        padding: 20px;
    }
    &__tab-box:nth-child(1){
        border-right: 0.5px solid #C4C4C4;
        max-width: 293px;
        width: 100%;
    }
    &__tab-box:nth-child(2){
        max-width: 913px;
        width: 100%;
    }
    &__tab-details{
        font-weight: 500;
        font-size: 25px;
        line-height: 29px;
        margin-top: 5px;
        span{
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
        }
    }
    .tab-item__btn{
       margin-right: 20px; 
    }
    &__tab-descr{
        display: none;
    }
    &__tab-descr.active{
        display: block;
    }
    &__tab-detailed{
        display: none;
    }
    &__tab-row{
        display: none;
    }
    &__tab-content span{
        @extend %roboto-m;
        color: #000;
    }
    &__tab-options{
        display: none;
        margin-top: 50px;
    }
    &__tab-options.active{
        display: block;
    }
    &__options-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__options-item{
        padding-right: 30px;
    }
    .profile__options-item + .profile__options-item {
        margin-left: 35px;
    }
}
.profile__tab-info.active{
    .tab-item__btn{
        display: none;
    }
    .profile__tab-inner{
        border-bottom: 0.5px solid #C4C4C4;
    }
    .profile__tab-box{
        width: 300px;
    }
    .profile__tab-details span{
        display: none;
    }
    .profile__tab-row{
        display: block;
    }
}
//page profile end
.profile__deal.inactive,
.profile__tabs.inactive,
.profile__tab-options.inactive{
    display: none;
}
.profile__output{
    padding: 0px 0 20px 0px;
    margin-bottom: 100px;
    &-form{
        padding: 70px 35px 35px;
    }
    &-title{
        color: #646464;
        font-weight: 400;
        margin-right: 45px;
        display: inline-block;
    }
    &-commission{
        font-family: 'Roboto-Light', sans-serif;
        font-weight: 300;
        background-color: #EBECF0;
        color: #000;
        width: 300px;
        &:hover{
            background-color: #EBECF0;
        }
    }
    &-sum{
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        max-width: 1050px;
        justify-content: flex-end;
    }
    &-input{
        width: 294px;
    }
    &-currency{
        margin: 0 30px;
    }
    &-options{
        display: flex;
    }
    &-row{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        height: 35px;
    }
    &-row>input:checked+label::before{
        top: 2px;
    }
    &-label{
        font-size: 16px;
        line-height: 19px;
        color: #646464;
        font-weight: 400;
        cursor: pointer;
        &::before{
            top: -6px;
        }
    }
    &-label.active{
        font-weight: 300;
        color: #000;
    }
    &-btn {
        display: block;
        margin-left: auto;
    }
    .jq-selectbox__dropdown{
        top: 46px;
    }
   
}
.profile__output.active{
    display: block;
}

//deal__create start
.deal__create{
    margin-bottom: 45px;
    &-inner{
        padding: 50px 35px 35px;
    }
    &-progress{
        max-width: 1277px;
        margin: 0 auto 70px;
    }
    &-steps{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &-step{
        position: relative;
        width: 222px;
        &::before{
            position: absolute;
            content: "";
            background-color: #EBECF0;
            //background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.048) 31.61%, rgba(255, 255, 255, 0.4) 65.85%), #F7F7F7;
            background-blend-mode: soft-light, normal;
            box-shadow: -1px -1px 1px #FAFBFF, 2px 2px 3px #A6ABBD;
            border: 8px solid #F7F7F7;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            bottom: -70px;
            left: 40%
        }
        &::after{
            position: absolute;
            content: ""; 
            background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(250, 245, 254, 0.4) 95.6%), #F0972C;
            background-blend-mode: soft-light, normal;
            border: 1px solid rgba(255, 255, 255, 0.33);
            box-shadow: -1px -1px 2px #FAFBFF, 2px 2px 6px #9EA3B9;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            bottom: -57px;
            left: 46%;
        }
    }
    &-step.inactive{
        color: #C4C4C4;
        &::before{
            background: #F6F6F6;
            border: 0.5px solid #FFFFFF;
            box-shadow: inset 0px -2px 4px #FFFFFF, inset 0px 2px 3px rgba(0, 0, 0, 0.17);
        }
        &::after{
            background: #F6F6F6;
            box-shadow: inset 0px -2px 4px #FFFFFF, inset 0px 2px 3px rgba(0, 0, 0, 0.17);
        }
    }
    &-subtitle{
        text-transform: uppercase;
        font-size: 16px;
        line-height: 19px;
    }
    &-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-top: 10px;
    }
    &-line{
        border: 3px solid #F7F7F7;
        box-shadow: 0px -2px 2px #FFFFFF, 0px 1px 2px rgba(0, 0, 0, 0.17);
        margin-top: 44px;
        width: 82%;
        margin: 44px auto 0;
    }
    &-form{
        margin-top: 70px;
    }
    &-name{
        color: #646464;
        font-weight: 400;
        margin-right: 50px;
        padding-right: 35px;
        width: 244px;
        text-align: right;
        &::before{
            top: 6px;
        }
    }
    &-radios{
        display: flex;
        background-color: #DCDCDC;
        border-radius: 7px;
        width: 443px;
        margin-top: 20px;
        margin-bottom: 70px;
    }
    &-wrapper{
        max-width: 1240px;
    }
    &-row{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    &-input,
    &-content,
    &-textarea{
        max-width: 953px;
        width: 100%;
    }
    &-textarea {
        min-height: 100px;
        background-color: transparent;
        border-radius: 7px;
        border: 0.5px solid #B8B8B8;
    }
    &-box{
        margin-right: 30px;
    }
    &-date{
        width: 290px;
    }
    &-buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }
   
}
.deal__create-row:nth-child(2){
   .deal__create-name{
       padding-bottom: 55px;
   } 
}
.deal__create-radios{
    .deal__create-choice {
        display: inline-block;
        cursor: pointer;
    }
    .deal__create-choice > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 20px;
    }
    .deal__create-choice > label {
        position: relative;
        height: 55px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
    }
    .deal__create-choice > label {
        display: block;
        border-radius: 7px;
        padding: 11px 23px;    
        min-width: 221px;
        transition: color 0.2s ease-out 0.1s;
        transition: 0.2s ease-out 0.1s;
        background: #DCDCDC;
        color: #4A4A4A;
        font-weight: 400;
    }
    .deal__create-choice > input:checked + label {
        background: #6A3492;
        color: #FFF;
    }
    .deal__create-choice:nth-child(1) > input:checked + label {
        border-radius: 7px 0px 0px 7px;
    }
    .deal__create-choice:nth-child(2) > input:checked + label {
        border-radius: 0px 7px 7px 0px;
    }
}
//deal__create end
//creating-second start

.deal__create{
    &-about{
        margin-top: 90px;
    }
}

.creating__table{
    
    &-head{
        padding: 20px 10px 10px 20px;
        line-height: 23px;
        font-weight: 500;
        border-bottom: 0.5px solid #C4C4C4;
    }
    &-row{
        display: flex;
    }
    &-row:nth-child(2){
        border-bottom: 0.5px solid #C4C4C4;
    }
    // &-column:nth-child(1){
    //     max-width: 870px;
    //     width: 100%;
    // }
  
    &-succses{
        background-color: #F2F2F2;
        box-shadow: inset 2px 0px 6px rgba(100, 100, 100, 0.17);
        padding: 30px 30px 30px 37px;
    }
    &-title{
        font-weight: 400;
        margin-bottom: 30px;
    }
    &-text{
        font-size: 16px;
        line-height: 29px;
    }
    &-buttons{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 21px;
    }
    &-btn:nth-child(2){
        margin-left: 35px;
    }
    &-invitation{
        padding: 0px 35px 35px;
    }
    &-line{
        display: flex;
        margin-top: 40px;
        align-items: center;
    }
}
.invitation__copy-btn,
.creating__table-btn{
    transition: all .4s;
    padding: 0;
    display: flex;
    align-items: center;
    svg{
        margin-right: 10px;
    }
    &:hover{
        color: #7D4F9E;
        svg path{
            fill: #7D4F9E;
        }
    }
}
.creating-invitation{
    &-content{
        text-align: right;
        width: 222px;
    }
    &__title{
        color: #646464;
        font-weight: 400;
    }
    &__text{
        font-size: 13px;
        line-height: 15px;
        color: #646464;
    }
    &__input{
        max-width: 570px;
        width: 100%;
        margin: 0 50px;
        color: #000000;
        font-weight: 400;
    }
    &__link{
        margin-right: 50px;
    }
}
//creating-second end

//creating-third end
.deal__about.extended{
    .deal__about-box{
        width: 320px;
    }
}
.deal__create-agreed{
    margin: 60px 0 40px;
    font-size: 16px;
    line-height: 29px;
}
.creating-third{
    .deal__create-btn{
        display: block;
        margin-top: 60px;
        margin-left: auto;
    }
}

//creating-third end

//paymetn start
.payment{
    &__form{
        padding: 70px 35px 35px;
    }
    &__row{
        display: flex;
        margin-bottom: 23px;
    }
    &__content{
        width: 157px;
        margin-right: 50px;
        &::before{
            top: 16px;
        }
    }
    &__title{
        color: #646464;
        font-weight: 400; 
        &::before{
            top: 5px;
        }
    }
    &__text{
        font-size: 13px;
        line-height: 15px;
        color: #646464;
    }
    &__price{
        max-width: 294px;
        width: 100%;
    }
    &__pay{
        display: flex;
    }
    &__btn{
        margin-top: 70px;
    }
  
}
.payment__form{
    .radio-inner + .radio-inner{
        margin-left: 15px;
    }
}
//paymetn end

//support start
.support{
    position: relative;
    &__form{
        margin-top: 149px;
        margin-left: 105px;
    }
    &__text{
        margin-top: 10px;
        max-width: 590px;
    }
    &__form-inner{
        margin-top: 15px;
        max-width: 468px;
        margin-bottom: 70px;
    }
    &__input{
        width: 100%;
        margin-top: 35px;
    }
    &__bg{
        position: absolute;
        right: -150px;
        bottom: -233px;
        z-index: 1;
    }
}
.footer.support{
    .footer__disign{
        margin-right: 190px;
    }
}
//support end
//history start
.history{
    &__table{
        padding: 50px 35px 35px;
       
    }
    &__table-items{
        border-radius: 7px;
        border: 0.5px solid #C4C4C4;
    }
    &__table-item{
        display: flex;
    }
    &__table-item:nth-child(even){
        padding: 14px 10px 15px;
        background-color: #F3F7F7;
        border-top: 0.5px solid #C4C4C4;
        border-bottom: 0.5px solid #C4C4C4;
    }
    &__table-item:last-child{
        border-bottom: none;
    }
    &__table-title{
        font-size: 15px;
        line-height: 18px;
        width: 366px;
        padding: 9px 10px 10px;
        & + .history__table-title{
            border-left:  0.5px solid #C4C4C4;
            padding-left: 25px;
        }
    }
    &__table-content{
        font-weight: 400;
        width: 366px;
        & + .history__table-content{
            padding-left: 20px;
        }
    }
}
//history end

//settings start
.settings{
    .jq-selectbox__trigger-arrow {
        position: absolute;
        top: 18px;
        right: 12px;
        width: 0;
        height: 0;
        border-top: 12px solid #9A9D9D;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    } 
    &__item:nth-child(1){
        width: 80%;
    }
    &__finance-inner{
        padding: 20px 35px 35px;
    }
    &__finance-content{
        color: #646464;
        width: 146px;
        text-align: right;
        margin-right: 50px;
    }
    &__finance-content:nth-child(2){
        margin-bottom: 25px;
    }
    &__finance-row{
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    &__finance-card{
        max-width: 953px;
        width: 100%;
        position: relative;
    }
    &__finance-input{
        width: 100%;
        padding-right: 30px;
    }
    &__finance-select{
        width: 100%;
        .jq-selectbox__trigger{
            right: 30px;
        }
    }
    &__finance-btn{
        position: absolute;
        right: 7px;
        top: 13px;
        background-color: transparent;
        padding: 0;
        z-index: 10;
        &:hover{
            svg path{
                fill: #7D4F9E;
            }
        }
    }
    &__finance-add{
        font-weight: 300;
        padding: 0;
        display: block;
        margin-left: auto;
        margin-top: 10px;
    }
    &__profile{
        min-height: 625px;
    }
    &__profile-head{
        padding-top: 35px;
    }
    &__profile-title{
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        text-transform: uppercase;
        border-bottom: 0.5px solid #C4C4C4;
        padding: 0 20px 19px;
       
    }
    &__profile-inner{
        padding: 30px 15px 30px;
    }
    &__profile-input{
        margin-bottom: 10px;
        width: 100%;
    }
    &__profile-password{
        position: relative;
    }
    &__profile-btn{
        position: absolute;
        right: 0;
        top: 10px;
        background-color: transparent;
    }
    .profile__user-avatar{
        width: 102px;
        height: 102px;
        margin-bottom: 40px;
        position: relative;
    }
    .jq-file {
        width: 50px;
        height: 50px;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all .4s;
        transition: all .4s;
        position: absolute;
        text-align: center;
        bottom: -20px;
        right: -14px;
    }
    .jq-file__browse {
        position: inherit;
        top: 0;
        right: 12px;
        padding: 0;
        border-left: none;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #F6F6F6;
        background-blend-mode: soft-light, normal;
        box-shadow: -2px -2px 6px rgba(250, 251, 255, 0.6), 5px 5px 10px #A6ABBD;
        font: inherit;
        color: #646464;
        text-shadow: none;
        font-weight: 400;
        font-size: 27px;
        line-height: 32px;
        width: 35px;
        height: 35px;
    }
}
//settings end

//profile-partner start
.profile-partner{
    padding-bottom: 60px;
    &__items{
        display: none;
        &.active-tab{
            display: flex;
        }
    }
    &-tabs{
        margin-bottom: 35px;
        margin-top: 50px;
        margin-left: 80px;
    }
    &__tab{
        font-size: 30px;
        line-height: 35px;
        font-weight: 700;
        color: #C4C4C4;
        text-align: center;
       
        cursor: pointer;
        &.active{
            color: #6A3492;
        }
    }
    &__tab:nth-child(1){
        position: relative;
        padding-right: 11px;
        &::before{
            position: absolute;
            content: "/";
            right: -2px;
            top: 1px;
            color: #C4C4C4;
        }
       

    }
    &__inner {
        min-height: 730px;
    }
    &__head{
        padding: 40px 40px 25px;
        border-bottom: 0.5px solid #C4C4C4;
    }
    &__user{
        display: flex;
        align-items: center;
    }
    &__img{
        width: 100px;
        height: 100px;
        margin-right: 40px;
    }
    &__name{
        font-weight: 400;
        margin-bottom: 15px;
    }
    &__about{
        padding: 25px 40px 25px; 
        border-bottom: 0.5px solid #C4C4C4;
        &:last-child{
            border-bottom: none;
        }
    }
    &__suptitle{
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__row{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__statistics .profile-partner__row{
        max-width: 221px;
    }
    &__content{
        color: #646464;
    }
    &__content,
    &__value{
        font-weight: 400;
    }
    .profile-partner-rate{
        .profile-partner__row{
            width: 408px;
        }
        .jq-ry-container {
            width: 176px !important;
        }
        .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
            svg + svg{
                margin-left: 15px !important;
            }
        }
    }
}
.reviews__item{
    padding-bottom: 60px;
    margin-left: 30px;
    width: 100%;
    &-inner{
        padding: 33px 40px 20px 33px;
        border-bottom: 0.5px solid #C4C4C4;
    }
    &-user{
        display: flex;
        align-items: center;
    }  
    &-img{
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }
    &-name{
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    &-text{
        margin-top: 20px;
    }
    &-date{
        text-align: right;
        font-size: 13px;
        line-height: 15px;
        color: #646464;
    }
}
//profile-partner end


@import "media";